/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Browser Defaults Reset to Zero and Change to Border-Box Model */

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Navigation */

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #15172b;
  text-align: center;
  font-family: 'Poppins', Tahoma, sans-serif;
  background-color: #15172b;
}

a:-webkit-any-link:hover {
  background: #15172b;
  color: #08d;
  box-shadow: 0 0 25px #15172b,
                0 0 25px #15172b,
                0 0 25px #15172b,
                0 0 25px #15172b;
                border-radius: 15px;
}

nav ul {
  float: right;
}

li {
  display: inline-block;
  padding: 10px 15px;
}

nav a {
  padding: 10px 5px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  position: relative;
  margin: 60px 10px;
  text-align: center;
  padding-top: 10px;
}

.search-bar {
  position: relative;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar input {
  border-radius: 20px;
  padding: 5px;
}

.search-auto {
  top: 38px;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, .95);
  border: thin solid #15172b;;
}

.search-auto li {
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  margin: 30px 10px;
}

h3 {
  margin: 20px 0px 30px 0px;
}

.categories-container {
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.category {
  cursor: pointer;
  padding: 15px;
  border: 0 solid #15172b;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
  max-height: 250px;
  max-width: 300px;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  background-color: #15172b;
}

.category p {
  padding-left: 10px;
}

.form-container {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.login {
  height: 450px;
}

.registration {
  margin-top: 220px;
  max-height: 800px;
}

.registration h1 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.password {
  color: white;
  margin-left: 20px;
  font-weight: bold;
}

.check {
  cursor: pointer;
  margin-left: 25px;
  font-size: 14px;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 53px;
  margin-left: 0px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 2px;
}

.check:hover input ~ .checkmark {
  background-color: #ccc;
}

.check input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password:hover .checkbox {
  background-color: #ccc;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 50px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.products-container {
  margin-top: 20px;
  width: 95%;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
}

.category-grid {
  cursor: pointer;
  padding: 0px 15px;
  border: 0 solid #15172b;
  border-radius: 10px;
  margin: 5px;
  padding-top: 20px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-gap: 5px;
  background-color: #15172b;
  text-align: center;
  align-items: center;
}

.category-grid img {
    height: auto;
    max-height: 250px;
}

.category p {
  padding-left: 10px;
}

button{
  padding: 15px 20px;
  background-color: #15172b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

button:hover{
    background: #08d;
    color: #15172b;
    box-shadow: 0 0 5px #15172b,
                0 0 25px #15172b,
                0 0 50px #15172b,
                0 0 200px #15172b;
}

.product-page img{
  height: 50%;
  width: 50%;
}

.amount {
  vertical-align: center;
}

.amount-input {
  width: 50px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
}

.cart-table {
    margin-top: 20px;
}

td {
  vertical-align: middle;
}

.second-col img{
    max-height: 200px;
    min-height: 100px;
    min-width: 150px;
    vertical-align: bottom;
    text-align: left;
}

.first-col {
    background-color: #15172b;
    color: white;
    border-radius: 10px;
}

.second-col {
    padding-left: 0;
    border-radius: 5px;
}

.cart-total {
    text-align: right;
}

.align-left {
  text-align: left;
}

.chkout-login {
  margin-top: 30px;
}

.chkout-btn, .btn {
  background-color: #15172b;
  font-size: 16px;
  margin-top: 5px;
}

.page-history {
  text-align: left;
  position: absolute;
  top: 0;
}

.page-history a:-webkit-any-link {
  color: #15172b;
}

.contact-shipping { 
  margin: 20px auto;
  width: 75%;
  max-width: 600px;
  background-color: #08d;
  padding: 10px;
  border-radius: 50px;
  color: #15172b;
}

.contact, .shipping, .account-details {
  width: 75%;
  margin: auto;
}

.contact h2, .shipping h2 {
  margin-bottom: 10px;
  color: white;
}

.contact-shipping input, .account-details input {
  margin-bottom: 10px;
  height: 30px;
  background-color: #15172b;
}

.contact-shipping label {
  color: #15172b;
  padding: 2px;
  float: left;
  margin-left: 5px;
}

.checkout-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

.review {
  margin-top: 10px;
}

table {
  margin: 0 auto;
  font-size: 18px;
}

.checkoutcart img {
  height: 200px;
  padding-left: 5px;
}

.summary-card {
  margin-top: 40px;
}

.summary-card h2 {
  margin-bottom: 10px;
}

.total {
  margin-top: 20px;
  margin-bottom: 40px;
}

#billing-form {
  margin-top: 10px;
  display: none;
  width: 60%;
}

#billing-form input {
  margin-bottom: 10px;
}

.billing-check label {
  padding: 5px;
}

.logout {
  float: left;
}

.logout:hover{
    background: #15172b;
    color: #08d;
    box-shadow: 0 0 5px #15172b,
                0 0 25px #15172b,
                0 0 50px #15172b,
                0 0 200px #15172b;
}

.account {
  margin-top: 80px;
}

.account-links {
  margin-top: 20px;
  font-size: 18px;
}

.account a:-webkit-any-link {
  color: black;
  padding: 10px;
}

.account a:-webkit-any-link:hover, 
.orders a:-webkit-any-link:hover, 
.order-details a:-webkit-any-link:hover,
.cart a:-webkit-any-link:hover {
  background: #15172b;
  color: #08d;
  box-shadow: 0 0 5px #15172b,
              0 0 25px #15172b,
              0 0 50px #15172b,
              0 0 200px #15172b;
              border-radius: 20px;
}

.search-bar a:-webkit-any-link:hover,
.page-history a:-webkit-any-link:hover {
  color: #08d;
  background: transparent;
  box-shadow: none;
}

.orders a:-webkit-any-link, 
.order-details a:-webkit-any-link,
.search-bar a:-webkit-any-link,
.cart a:-webkit-any-link {
  color: black;
  padding: 5px;
}

.first-col a:-webkit-any-link{
    background-color: #15172b;
    color: white;
    border-radius: 10px;
    box-shadow: none;
}

.orders table, .order-details table {
  text-align: left;
  margin-top: 20px;
}

.orders td, .order-details td {
  padding: 10px 5px;
  border-bottom: dotted;
}

.nav-link {
  margin-top: 15px;
}

.account-details {
  margin-top: 20px;
}

#success {
  color: #08d;;
  opacity: 1;
  animation: fadeInOut 3s linear 1 forwards;
}

.error {
  color: red;
}
